<link phx-track-static rel="stylesheet" href={url(~p"/assets/app.css")} />
<meta name="widget-csrf-token" content={get_csrf_token()} />

<div class="border-2 border-red-200 p-2">
  <%= @inner_content %>
</div>
